div.auth-grid {
    grid-template-columns: 40% 20% 40%;
}

.grid-container {
    position: relative;
    background-color: var(--color-bg-dark);
}

/* ==========[ FORMS ]========== */
div.grid-container > form:not(.hidden) {
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 80px 70px 50px;

    background-color: var(--color-bg-dark);
}

div.grid-container > form:first-of-type {
    grid-column: 3 / 4;
}

div.grid-container > form:last-of-type {
    grid-column: 1 / 2;
}

div.grid-container > form > div.inputs {
    display: flex;
    flex-direction: column;
}


/* ==========[ INPUTS ]========== */
div.grid-container > form > div.inputs > label:not(:first-of-type) {
    margin-top: 50px;
}

div.grid-container > form > input[type="submit"] {
    align-self: center;
}


/* ==========[ LOGIN / SIGNUP BUTTONS ]========== */
div.grid-container > div.buttons {
    position: absolute;
    z-index: 20;
    inset: 0;

    grid-column: 1 / 3;
    grid-row: 1 / 2;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--color-bg-light);
    transition: transform 300ms ease-out;
}

/* This is when user visits /auth/login */
div.grid-container.login > div.buttons {
    grid-column: 2 / 4;
}