.game-grid {
  grid-template-rows: 60px 1fr 0.5fr 0.5fr;
  align-items: center;
  justify-items: center;
}

.game-grid > p {
  font-family: var(--font-regular);
  font-weight: 900;
  font-size: 3rem;

  color: var(--color-text-light);
  letter-spacing: 0.5rem;
  transition: font-size 0.5s;
}

.game-grid > p,
span {
  transition: font-size 0.5s;
}

.game-grid > p > span {
  font-family: var(--font-regular);
}

.game-grid > p#timer {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  z-index: 10;

  /* Make sure text doesn't jump around when numbers change */
  font-feature-settings: "tnum";
  font-variant-numeric: tabular-nums;
}

.game-grid > p#timer.finishedTimer {
  color: var(--color-text-accent);
}

.game-grid > p#quote {
  grid-row: 2 / 3;
  max-width: 75%;

  font-size: 2.25rem;
  line-height: 2;
}

.game-grid input#typed-value {
  margin-left: 1em;
}

.triangle {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  height: 0;
  position: relative;
  align-self: flex-start;
}

.triangle::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  transform: translateX(-50%) translateY(100%);

  border-style: solid;
  border-width: 80px 200px 0 200px;
  border-color: var(--color-bg-light) transparent transparent transparent;
}

.highscores-container {
  grid-row: 2 / 4;
  overflow: hidden;
  overflow-y: auto;

  max-height: 300px;
}

.highscores {
  text-align: center;
  font-size: 2.5rem;
}

.highscores thead tr {
  font-weight: 900;
  color: var(--color-text-accent);
}

.highscores th,
.highscores td {
  padding: 1.5rem 10rem;
}

.highscores th {
  position: sticky;
  top: 0;
  background-color: var(--color-bg-light);
}

.highscores td {
  color: var(--color-text-light)
}

.highscores > tbody > tr:first-of-type td {
  padding-top: min(30px, 3rem);
}
