@font-face {
  font-family: "Silkscreen";
  src: url("../slkscr-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-comic-book: "Silkscreen";
  --font-regular: Roboto, Verdana, sans-serif;

  --color-text-accent: yellow;
  --color-text-light: white;

  --box-bg-hue: 58;
  --box-bg-sat: 47%;
  --box-bg-light: 25%;
  --box-bg-accent-hue: 243;

  --color-box-bg: hsl(
    var(--box-bg-hue),
    var(--box-bg-sat),
    var(--box-bg-light)
  );
  --color-box-bg-accent: hsl(
    var(--box-bg-accent-hue),
    var(--box-bg-sat),
    var(--box-bg-light)
  );
  --color-box-shadow: hsl(
    var(--box-bg-hue),
    var(--box-bg-sat),
    calc(var(--box-bg-light) - 10%)
  );

  --color-bg-dark: hsl(274, 72%, 6%);
  --color-bg-light: hsl(48, 47%, 28%);
  --color-bg-lines: hsl(274, 56%, 20%);
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-family: var(--font-comic-book);
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  font-size: 62.5%;
}

label {
  margin-bottom: 0.5em;
  font-size: 2.75rem;
  color: var(--color-text-light);
}

input:not([type="submit"]), select {
  min-height: 40px;
  min-width: 300px;
  padding: 0.5rem 1rem;

  font-size: 1.6rem;
  font-family: var(--font-regular);
  border-radius: 10px;
}

.for-mobile {
  display: none;
}

:focus {
  outline: 3px solid papayawhip;
}

mark,
.highlight {
  color: var(--color-text-accent);
  background-color: transparent;
}

.box {
  padding: 0.5rem 1rem;

  text-align: center;
  text-decoration: none;

  border: 0;
  cursor: pointer;
  border-radius: 15px;
  box-shadow: -7px -7px 0 var(--color-box-shadow);
  background-color: var(--color-box-bg);
  transition: all 0.4s;
}

.box:hover,
.box:focus {
  scale: 1.2;
  box-shadow: 7px 7px 0 var(--color-box-shadow);
}

.big-box {
  min-width: 20rem;
  min-height: 4.75rem;

  font-size: 3.5rem;
  letter-spacing: 5px;
}

.auth-box {
  color: var(--color-text-light);
}

.game {
  --color-box-bg: hsl(243, var(--box-bg-sat), var(--box-bg-light));
  --color-box-shadow: hsl(
    243,
    var(--box-bg-sat),
    calc(var(--box-bg-light) - 10%)
  );

  color: var(--color-text-accent);
  letter-spacing: 10px;
}

.accent {
  --color-box-bg: hsl(243, var(--box-bg-sat), var(--box-bg-light));
  --color-box-shadow: hsl(
    243,
    var(--box-bg-sat),
    calc(var(--box-bg-light) - 10%)
  );
  background-color: var(--color-box-bg-accent);
}

.background-image {
  --blur-strength: 2px;

  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: -10;
  opacity: 1;
  background-image: linear-gradient(
      var(--color-bg-lines) 3.5px,
      transparent 1.5px
    ),
    linear-gradient(
      to right,
      var(--color-bg-lines) 3.5px,
      var(--color-bg-dark) 1.5px
    );
  background-size: 105px 105px;
  filter: blur(var(--blur-strength));
  -webkit-filter: blur(var(--blur-strength));
  -ms-filter: blur(var(--blur-strength));
}

.grid-container {
  display: grid;
  min-height: 100vh;
  position: relative;
}

.hidden {
  display: none;
}

@media (prefers-reduced-motion: no-preference) {
  :focus {
    outline-offset: 5px;
    transition: outline-offset 0.2s ease;
  }

  .highlight {
    font-size: 3.5rem;
  }
}

@media only screen and (max-device-width: 600px) {
  .for-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5em;

    min-height: 100vh;
    font-size: 1rem;
    text-align: center;
    color: var(--color-text-light);
    background-color: var(--color-bg-dark);
  }

  .for-mobile h1,
  .for-mobile p {
    line-height: 1em;
  }

  .grid-container {
    display: none;
  }
}
