@font-face {
    font-family: CrimeFighter;
    src: 
        url("/static/font/CrimeFighterBB.woff2") format("woff"), 
        url("/static/font/CrimeFighterBB.ttf") format("truetype"),
        url("/static/font/CrimeFighterBB.svg") format("svg");
}

@font-face {
    font-family: CascadiaCode;
    src: 
        url("/static/font/CascadiaCodePL.ttf") format("truetype");
}

:root {
    --font-comic-book: CrimeFighter;
    --font-regular: CascadiaCode, Verdana, sans-serif;

    --color-text-accent: yellow;
    --color-text-light: white;

    --color-box-bg: hsl(0, 0%, 30%);
    --color-box-bg-accent: hsl(243, 100%, 69%);

    --color-bg-dark: hsl(215, 41%, 28%);
    --color-bg-light: hsl(252, 11%, 55%);
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: var(--font-comic-book);
}

html {
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
    font-size: 62.5%;
}

label {
    font-size: 2.75rem;
    color: var(--color-text-light);
}

mark, .highlight {
    color: var(--color-text-accent);
    background-color: transparent;
}

button, input[type="submit"] {
    cursor: pointer;
}

:focus {
    outline: 3px solid papayawhip;
}

input:not([type="submit"]), select {
    min-height: 30px;
    min-width: 300px;
    padding: 0.5rem 1rem;
    margin-top: 10px;
    
    font-size: 1.6rem;
    font-family: var(--font-regular);
    border-radius: 2rem;
}

.box {
    /* cursor: default; */
    padding: 0.5rem 1rem;

    text-align: center;
    text-decoration: none;

    border: 0;
    box-shadow: -7px -7px 0 black;
    background-color: var(--color-box-bg);
}

.big-box {
    min-width: 20rem;
    height: 4.75rem;

    font-size: 3.5rem;
    letter-spacing: 5px;
}

.auth-box {
    color: var(--color-text-light);
}

.game {
    color: var(--color-text-accent);
    letter-spacing: 10px;
    background-color: var(--color-box-bg-accent);
}

.accent {
    background-color: var(--color-box-bg-accent);
}

.grid-container {
    display: grid;
    
    min-height: 100vh;
}

.hidden {
    display: none;
}

@media (prefers-reduced-motion: no-preference) {
    :focus {
        outline-offset: 5px;
        transition: outline-offset .20s ease;
    }

    .highlight {
        font-size: 3.5rem;
    }
}
