.hero-screen-grid {
  grid-template-rows: 10rem repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}

.hero-screen-grid > h1 {
  grid-row: 2 / 3;
  margin-top: 5rem;

  font-size: 8rem;
  letter-spacing: 2rem;
  transform: rotateZ(-10deg);

  color: var(--color-text-accent);
  text-decoration: underline 6px;
  text-underline-offset: 2rem;
  animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #94925f, 0 0 20px #94925f, 0 0 30px #4f4d21,
      0 0 40px #4f4d21, 0 0 50px #4f4d21, 0 0 60px #4f4d21, 0 0 70px #4f4d21;
  }
  to {
    text-shadow: 0 0 20px #94925f, 0 0 30px #252404, 0 0 40px #252404,
      0 0 50px #252404, 0 0 60px #252404, 0 0 70px #252404, 0 0 80px #252404;
  }
}

.hero-screen-grid > p {
  grid-row: 3 / 4;
  align-self: flex-end;
  max-width: 80ch;

  font-family: var(--font-regular);
  font-size: 2.2rem;
  font-weight: 900;

  letter-spacing: 0.6rem;
  line-height: 2.5;
  text-align: center;

  color: var(--color-text-light);
}

.hero-screen-grid > nav {
  grid-row: 1/2;
  min-width: 100%;
  justify-self: end;

  display: flex;
  justify-content: flex-end;
  padding-right: 3rem;
}

.hero-screen-grid > nav > a {
  min-width: 12rem;
  margin-left: 3rem;

  font-size: 2rem;
}

.hero-screen-grid > nav > p {
  font-size: 2rem;
  color: var(--color-text-light);
}

.hero-screen-grid > a {
  grid-row: 4 / 5;
  margin-top: 3rem;
  align-self: flex-start;
}
