{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/auth.css') }}">
{% endblock style %}
{% block title %}Register{% endblock title %}

{% block content %}
    <div class="grid-container auth-grid">
        <form id="register" action="{{ url_for('auth.register') }}" method="POST">
            <div class="inputs">
                {% with form = register_form %}
                {{ form.csrf_token }}
                    {{ render_field(form.username) }}
                    {{ render_field(form.password) }}
                    {{ render_field(form.confirm) }}
                    {{ render_field(form.country) }}
                {% endwith %}
            </div>
            <input type="submit" value="Signup" class="box auth-box big-box accent">
        </form>

        <form
            id="login"
            class="hidden"
            action="{{ url_for('auth.login') }}"
            method="POST"
        >
            <div class="inputs">
                {% with form = login_form %}
                    {{ form.csrf_token }}
                    {{ render_field(form.username) }}
                    {{ render_field(form.password) }}
                {% endwith %}
            </div>
            <input type="submit" value="Login" class="box auth-box big-box">
        </form>

        <div id="buttons-container" class="buttons">
            {% if login %}
            <button id="login-btn" class="box auth-box big-box" value="login" data-login="">
                Login
            </button>
            {% else %}
            <button id="login-btn" class="box auth-box big-box" value="login">
                Login
            </button>
            {% endif %}
            <button id="register-btn" class="box auth-box big-box accent hidden" value="register">
                Register
            </button>
            <a class="home-anchor" href="/">Back home</a>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script type="module" src="{{ url_for('static', filename='js/auth.js') }}"></script>
{% endblock scripts %}
