{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/auth.css') }}">
{% endblock %}
{% block title %}Register{% endblock %}

{% block content %}
    <div class="grid-container auth-grid">
        <form action="{{ url_for('auth.register') }}" method="POST" id="register">
            <div class="inputs">
                {% if form %}
                {{ render_field(form.username) }}
                {{ render_field(form.password) }}
                {{ render_field(form.confirm) }}
                {{ render_field(form.country) }}
                {% endif %}
            </div>
            <input type="submit" value="Signup" class="box auth-box big-box accent">
        </form>

        <form action="{{ url_for('auth.login') }}" method="POST" id="login" class="hidden">
            <div class="inputs">
                <label for="username-login">Username</label>
                <input type="text" name="username" id="username-login" required>
                <label for="password-login">Password</label>
                <input type="password" name="password" id="password-login" required>
            </div>
            <input type="submit" value="Login" class="box auth-box big-box">
        </form>

        <div class="buttons" id="buttons-container">
            <button id="login-btn" value="login" class="box auth-box big-box">Login</button>
            <button id="register-btn" value="register" class="box auth-box big-box accent hidden">Register</button>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="module" src="{{ url_for('static', filename='js/auth.js') }}"></script>
{% endblock %}
