{% extends 'base.html' %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/HeroScreen.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/GameScreen.css') }}">
{% endblock style %}

{% block title %}
    Home
{% endblock title %}

{% block content %}
    <section class="grid-container hero-screen-grid">
        <div class="background-image"></div>
        <nav>
            {% if current_user.is_authenticated %}
                <p>Logged in as <mark>{{ current_user.player_name }}</mark></p>
                <a class="box auth-box" href="{{ url_for('auth.logout') }}">Logout</a>
            {% else %}
                <a class="box auth-box accent" href="{{ url_for('auth.register') }}">Signup</a>
                <a class="box auth-box" href="{{ url_for('auth.login') }}">Login</a>
            {% endif %}
        </nav>

        <h1>Typefight!</h1>
        <p>Compete against players around the world to see who's the fastest typist!</p>
        <a class="box big-box game" href="#game">Play</a>
    </section>

    <section id="game" class="grid-container game-grid">
        <div class="background-image"></div>
        <div class="triangle"></div>
        <p id="timer">00:00</p>
        <p id="quote">
            Once you click the <mark>start</mark> button, you'll get a random sentence,
            which you have to type in using your keyboard (this includes symbols and
            spaces). Have fun!
        </p>

        <div id="typed-value-container">
            <label for="typed-value">Type sentence <mark>here -></mark></label>
            <input
                id="typed-value"
                name="typed-value"
                type="text"
                placeholder="To be or not to be..."
                tabindex="-1"
            >
        </div>

        <button id="start-btn" class="box big-box game" onclick="startGame()">
            Start
        </button>
    </section>
{% endblock content %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock scripts %}
