{% extends 'base.html' %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='game.css') }}">
{% endblock %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <section class="grid-container hero-screen-grid">
        <nav>
            <a href="{{ url_for('auth.register') }}" class="box auth-box accent">Signup</a>
            <a href="{{ url_for('auth.login') }}" class="box auth-box">Login</a>
        </nav>
        
            <h1>Typefight!</h1>
            <p>Compete against players around the world to see who's the fastest typist!</p>
            <a class="box big-box game" href="#game">Play</a>
            <img src="{{ url_for('static', filename='images/typewriter.svg') }}" alt="People typing on a giant typewriter">
    </section>

    <section class="grid-container game-grid" id="game">
        <div class="triangle"></div>
        <p>-</p>
        <p>
            Once you click the <mark>start</mark> button, you'll get a random sentence,
            which you have to type in using your keyboard (this includes
            symbols and spaces). Have fun!
        </p>
        <button class="box big-box game" onclick="handleClick()">Start</button>
    </section>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}