{% extends 'base.html' %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='game.css') }}">
{% endblock %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <section class="grid-container hero-screen-grid">
        <nav>
            <a href="{{ url_for('auth.register') }}" class="box auth-box accent">Signup</a>
            <a href="{{ url_for('auth.login') }}" class="box auth-box">Login</a>
        </nav>
        
            <h1>Typefight!</h1>
            <p>Compete against players around the world to see who's the fastest typist!</p>
            <a class="box big-box game" href="#game">Play</a>
            <img src="{{ url_for('static', filename='images/typewriter.svg') }}" alt="People typing on a giant typewriter">
    </section>

    <section class="grid-container game-grid" id="game">
        <div class="triangle"></div>
        <p id="timer">00:00</p>
        <p>
            Once you click the <mark>start</mark> button, you'll get a random sentence,
            which you have to type in using your keyboard (this includes symbols and spaces). 
            Have fun!
        </p>

        <div>
            <label for="typed-value">Type sentence <mark>here:</mark></label>
            <input type="text" name="typed-value" id="typed-value">
        </div>
        
        <button class="box big-box game" id="start-btn" onclick="startGame()">Start</button>
    </section>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}